<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stwórz z nami to, czego potrzebujesz</h2>
                <hr class="light">
                <p class="text-faded">Zajmujemy się projektowaniem graficznym na potrzeby poligrafii i internetu od ponad 6 lat. Kreujemy marki, tworzymy spójne materiały oraz realizujemy cały proces wydruku. Do każdego projektu podchodzimy indywidualnie i kreatywnie, dlatego też stworzyliśmy wygodny formularz, który ułatwi przekazanie wszystkich najważniejszych informacji.</p>
                <p class="text-faded">Jeżeli potrzebujesz pomocy - służymy radą i pełnym zaangażowaniem. Sprawdź co oferujemy i napisz do nas, a odpowiemy w ciągu 24h.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Sprawdź ofertę</a>
            </div>
        </div>
    </div>
</section>
