<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Skontaktuj się z nami!</h2>
                <hr class="services">
                <p>Chcesz się skontaktować z nami bezpośrednio? Zostaw wiadomość w skrzynce mailowej, zadzwoń lub wyślij wiadomość a oddzwonimy.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="mailto:{{ biuro@hevdesign.pl }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            <h4>biuro@hevdesign.pl</h4>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <h4>733-499-516</h4>
        </div>

    </div>
</section>
