<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio1">
                    <img src="https://hevdesign.github.io/website/img/portfolio/Quly-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio1" role="dialog">
                        <div class="modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/Quly-1600x860.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio2">
                    <img src="https://hevdesign.github.io/website/img/portfolio/A5-mockup-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio2" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/A5-mockup.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
           <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio3">
                    <img src="https://hevdesign.github.io/website/img/portfolio/nowe-horyzonty-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio3" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/nowe-horyzonty-1600x860.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio4">
                    <img src="https://hevdesign.github.io/website/img/portfolio/flex-ploy-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio4" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/flexploy-1600x850.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio5">
                    <img src="https://hevdesign.github.io/website/img/portfolio/Koszulka-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio5" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/Koszulka-1600x860.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio6">
                    <img src="https://hevdesign.github.io/website/img/portfolio/Klub-małego-naukowca-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio6" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/Klub-małego-naukowca1600x860.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio7">
                    <img src="https://hevdesign.github.io/website/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio7" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/6.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
                        <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio8">
                    <img src="https://hevdesign.github.io/website/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio8" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/6.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
                        <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#Portfolio9">
                    <img src="https://hevdesign.github.io/website/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                      <div class="modal fade" id="Portfolio9" role="dialog">
                        <div class=" modal-dialog portfolio-center">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <img src="https://hevdesign.github.io/website/img/portfolio/6.jpg" class="img-responsive" alt="">
                          </div>

                        </div>
                      </div>
            </div>
        </div>
    </div>
</section>
