<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projektujemy dla Twoich potrzeb</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-pencil wow bounceIn text-primary"></i>
                    <h3>Projektowanie logo</h3>
                    <p class="text-muted">Logo, logotyp, sygnet.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-eye wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Identyfikacja wizualna</h3>
                    <p class="text-muted">Spójny styl materiałów firmowych.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Materiały drukowane</h3>
                    <p class="text-muted">Wizytówki, ulotki, plakaty, teczki, rollupy, billboardy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-desktop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Materiały webowe</h3>
                    <p class="text-muted">Bannery, ikony, materiały social media.</p>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-puzzle-piece wow bounceIn text-primary"></i>
                    <h3>Materiały reklamowe</h3>
                    <p class="text-muted">Kubki, smycze, powerbanki, pendrive, torby.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-shirtsinbulk wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Znakowanie ubrań</h3>
                    <p class="text-muted">Koszulki, bluzy, odzież wierzchnia, czapki.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-crop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Wektoryzacja</h3>
                    <p class="text-muted">Logo, ilustracje.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-rocket wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Indywidualne zlecenia</h3>
                    <p class="text-muted">Nietypowe projekty</p>
                </div>
            </div>
        </div>
    </div>
</section>
